.home__container{
    position: absolute;
    top: 60%;
    left: 2%;
    width: 40%;
    height: 40%;
    transform: translateY(-50%);
    font-family: $font-family-title ;
    font-size: 1.3rem;
    padding: 2%;
    @include displayColumn;
    z-index: 20000;

    @media screen and (max-width : 768px) {
        width: 50%;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @media screen and (max-width : 411px) {
        width: 50%;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

   

    .home____container__self-presentation{
        color: $color-tabs;

        @media screen and (max-width : 768px) {
            position: absolute;
            top: 45%;
            left: -25%;
            width: 150%;
            text-align: center;
            font-size: 1.3rem;
        }
        @media screen and (max-width : 411px) {
            position: absolute;
            top: 15%;
            left: -25%;
            width: 150%;
            text-align: center;
            font-size: 1rem;
        }
    }

    .home____container__touch-phrase{
        font-size: 1.2rem;
        color:  #a5a4a4;

        @media screen and (max-width : 768px) {
            width: 150%;
            text-align: center;
            font-size: 1.2rem;
            position: absolute;
            top: 65%;
            left: -25%;
        }
        @media screen and (max-width : 411px) {
            width: 150%;
            text-align: center;
            font-size: 1rem;
            position: absolute;
            top: 45%;
            left: -25%;
        }
    }

    .home____container__btns{
        
        width: 100%;
        margin: 0;

        @media screen and (max-width : 768px) {
            width: 50%;
            text-align: center;
            font-size: 1rem;
            position: absolute;
            bottom: 0%;
        }

        @media screen and (max-width : 411px) {
            width: 50%;
            text-align: center;
            font-size: 1rem;
            position: absolute;
            bottom: 0%;
        }

        ul{
            
            position: relative;
            @include displaySpaceAround;
            padding: 0;
            width: 100%;

           

            @media screen and (max-width : 768px) {
                width: 200%;
            }
            

            li{
                list-style: none;
                width: 45% ;

                a{
                    @include displayCenter;
                    height: 100%;
                    z-index: 19990000;
                    text-decoration: none;
                    color: $color-tabs;
                    text-align: center;
                    font-size: 1.3rem;
                    line-height: 1.3rem;
                    padding: 1rem 1.1rem;
                    background-color: $color-border-tabs;
                    cursor: pointer;
                    transition: all .8s ease-in-out;

                    @media screen and (max-width : 411px) {
                        font-size: 1rem;
                        padding: .4rem 1.5rem;
                    }
                    
                    @media screen and (max-width : 280px) {
                        font-size: 1rem;
                        padding: .8rem 1.5rem;
                    }
                    
                    &.container__btns--important {
                        background-color: $color-hover-tabs;
                    }

                    &:hover{
                        background-color: $color-tabs;
                        color: $color-hover-tabs;
                    }

                    
                }
            }
        }
    }
}

.home__Background-img{
    position: absolute;
    top: 15%;
    right: 5%;
    width: 280px;
    height: 300px;
    border-radius: 100%;
    border: $color-hover-tabs 1.5px solid;
    background-color: transparent;
    @include displayCenter;

    @media screen and (max-width : 768px) {
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 230px;
        height: 250px;
    }

    @media screen and (max-width : 411px) {
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 180px;
        height: 200px;
    }
    

    img{
        width: auto;
        height: 90%;
        border-radius: 100%;
    }
}